*.orig

# Intellij
.idea/
*.iml
*.iws

# Dependency directories
**/node_modules
*.tgz

# Optional npm cache directory
.npm
npm-debug.log*

# Jest
test/jest/tmp/**

# Webpack generated
**/lib/*
**/dist/*

*.log

